<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Matcha</title>
         <%- css.style %>
    </head>
    <body id="pageprofil">
        <div id="head">
    	   <a href="/"><img src="../title.png" id=title></a><br/>
        </div>
        <div class="pad2">
        	<h1 class="welcome">Welcome !</h1>
            <a href="/login"><div class="buttons2"> Login </div></a>
    		<a href="/register"><div class="buttons2"> Register </div></a>
		</div>
        <% include footer.ejs %>
    </body>
</html>