<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Matcha</title>
         <%- css.style %>
    </head>
 
    <body id="pageprofil">
        <% include header.ejs %>
    </body>
</html>